absl-py==1.4.0
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.5.0
anyio==4.2.0
appnope==0.1.3
asttokens==2.2.1
astunparse==1.6.3
attrs==23.2.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
blinker==1.7.0
cachetools==5.3.1
certifi==2023.11.17
cffi @ file:///private/tmp/cffi-20231014-5567-1hyue8f/cffi-1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.3
comm==0.1.3
contourpy==1.1.0
cycler==0.11.0
dataclasses-json==0.6.3
debugpy==1.6.7
decorator==5.1.1
devtools==0.12.2
distlib @ file:///private/tmp/python-distlib-20231124-5231-2n0vb3/distlib-0.3.7
distro==1.9.0
editdistance==0.6.2
efficientnet==1.0.0
emoji==2.9.0
essential-generators==1.0
executing==1.2.0
faiss-cpu==1.7.4
filelock==3.12.2
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.4.1
fsspec==2023.6.0
gast==0.4.0
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
h11==0.14.0
h5py==3.8.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.15.1
idna==3.4
imageio==2.31.1
imgaug==0.4.0
importlib-metadata==7.0.1
ipykernel==6.23.3
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
jsql==0.8
jupyter_client==8.3.0
jupyter_core==5.3.1
keras==2.13.1rc0
Keras-Applications==1.0.8
keras-ocr==0.8.9
kiwisolver==1.4.4
langchain==0.1.1
langchain-community==0.0.13
langchain-core==0.1.12
langchain-openai==0.0.2.post1
langchainhub==0.1.14
langdetect==1.0.9
langsmith==0.0.82
lazy_loader==0.2
libclang==16.0.0
lxml==5.1.0
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mlx==0.0.2
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
numpy==1.24.3
oauthlib==3.2.2
openai==1.8.0
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.2
pandas==2.0.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.8.0
prompt-toolkit==3.0.38
protobuf==4.23.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post4
pycparser @ file:///private/tmp/pycparser-20231013-5787-1anpge2/pycparser-2.21
pydantic==2.3.0
pydantic_core==2.6.3
pydeck==0.8.1b0
Pygments==2.15.1
pyparsing==3.0.9
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2024.1.2
python-magic==0.4.27
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.1.0
rapidfuzz==3.6.1
referencing==0.32.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rpds-py==0.17.1
rsa==4.9
ruff==0.1.11
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
shapely==2.0.1
six==1.16.0
sklearn==0.0.post5
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==2.0.25
stack-data==0.6.2
streamlit==1.30.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0rc1
tensorflow-estimator==2.13.0rc0
tensorflow-macos==2.13.0rc1
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tiktoken==0.5.2
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.2
types-requests==2.31.0.20240106
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
unstructured==0.12.0
unstructured-client==0.15.2
urllib3==2.1.0
validators==0.20.0
wcwidth==0.2.6
Werkzeug==2.3.6
wrapt==1.15.0
yarl==1.9.4
zipp==3.17.0
